body {
    background: linear-gradient(180deg, #0f1923, #000);
    color: #ff4655;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

button {
    background: linear-gradient(135deg, #ff4655, #ff8a80);
    color: black;
    padding: 12px 18px;
    margin: 6px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.map-img {
    width: 520px;
    border-radius: 12px;
    box-shadow: 0 0 25px black;
}

#action-box img {
    width: 420px;
    margin: 15px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 20px #ff4655;
}

/* AIM PRACTICE */
#aim-area {
    position: relative;
    width: 700px;
    height: 350px;
    margin: 20px auto;
    border: 2px solid #ff4655;
}

.target {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ff4655;
    border-radius: 50%;
    cursor: crosshair;
}
/* Hide broken images automatically */
img {
    display: block;
}

img:not([src]),
img[src=""],
img[src=" "] {
    display: none;
}
